<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pagamentos</title>
</head>
<body>
    <h1>Pagamentos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Ano</th>
                <th>Mês</th>
                <th>Valor</th>
                <th>Jogador</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pagamento : ${pagamentos}">
                <td th:text="${pagamento.ano}"></td>
                <td th:text="${pagamento.mes}"></td>
                <td th:text="${pagamento.valor}"></td>
                <td th:text="${pagamento.jogador.nome}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
